{
  "extends": ["eslint:recommended", "prettier", "plugin:node/recommended"],
  "rules": {
    "prettier/prettier": ["error", { "printWidth": 100 }],
    "prefer-const": "error",
    "no-console": "off"
  },
  "plugins": ["prettier", "node"],
  "env": {
    "es6": true,
    "node": true
  }
}
